body {
    background-color: #690000;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

a {
    color: black;
}

header {
    background-color: orange;
    padding: 40px;
}

section {
    width: 40%;
    max-width: 500px;
    background-color: lightpink;
    margin: 40px 5% 20px 45%;
}

.post {
    padding: 20px;
    margin-bottom: 50px;
    border: 5px solid white;
}

.post h2 {
    margin: 5px 0;
}

.post h2 a {
    text-decoration: underline;
    text-decoration-color: orangered;
    text-underline-offset: 3px;
    color: orangered;
}

.date {
    font-size: 14px;
}


footer {
    margin-top: 50px;
    background-color: orange;
    height: 80px;
}